@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
  font-family: "Poppins", sans-serif;
}

@layer components {
  .sidebar-item {
    @apply flex flex-row px-2 py-1 text-gray-900 rounded-sm cursor-pointer
     hover:text-gray-500
     transition-all duration-300 ease-linear;
  }
  .sidebar-tooltip {
    @apply bg-orange-300 text-gray-900 px-2 py-1 
    whitespace-nowrap
    rounded-3xl ml-2 scale-0 animate-pulse;
  }
}

@layer pages {
  .bg-settings {
    background-image: url("./images/SettingsBG.jpg");
    @apply bg-center bg-cover bg-no-repeat;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
